phishintention/src/phishpedia_siamese/expand_targetlist/
src/tele/
discovery_results/
**/*.pyc
**/*.npz
**/*.npy
demo/demo_cache
root.sh
.vscode/
phishing_dataset
test_benign_new.txt
test_phishing_new.txt